<!--components/goods-card/index.wxml-->
<view class="goods-card">
  <view class="goods-mainpic">
    <image src="{{mainPic}}" alt="" class="goods-image" webp="{{true}}"></image>
  </view>
  <view class="goods-price">
  ￥<text class="goods-price-main">{{price}}</text>
  <text class="goods-price-nonmain">.00</text>
  </view>
  <view class="goods-title">{{title}}</view>
</view>